body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;

}

footer {
  text-align: right;
  color: midnightblue;
}
span{
  color:blue;
}
div{
  display: block;
  width: 100%;

}
h1{
  width: 50%;
}
.left{
  float:left;
  width: 40%;
 
  
}
.right{
  float:right;
 width: 40%;
}

.card>img{
  float: left;
  width: 40%;
  margin-right: 45px ;

 
  
  }
  
@media (max-width:600px){
  
  .logo{
    width: 100px;
  }
  h1{
    font-size: 3.5rem;
    width: 350px;
    text-align: center;
   
  }
  div{
    display:block;
    width: 100%;
  }
  .left{
    float:none;
    width: 100%;
  }
  .right{
    float:none;
    width: 100%;
  }
  .card>img{
    float: none;
    width: 400px;
    height: 200px;
  
   
    }
    
  
 
}

